 @font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans-400.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  background-color: #FFFFFF;
  height: 100%;
}

body{
  width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F2F2F2;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 auto;
  padding: 0;
}

.main-container{
  flex-grow: 1;
}

.main-header{
  width: 1200px;
  height: 70px;
  margin: 0 auto -5px;
  background-color: #FFFFFF;
}

.navigation-header-logo{
  position: relative;
  z-index: 1;
}

.navigation-container{
  margin: 0 70px;
  display: grid;
  grid-template-columns: 139px 1fr;
  gap: 30px;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.navigation-list{
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user{
  width: 264px;
}

.navigation-link{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.emphasized{
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  position: relative;
  z-index: 1;
}

.navigation-search{
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
}

.navigation-favorites{
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
}

.navigation-button{
  width: 160px;
  height: 37px;
  border-radius: 4px;
  border: none;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main-page{
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  /* box-shadow: 10px 10px 30px #E6E6E6, */
  /* -5px 5px 50px #E6E6E6; */
}

.hero{
  height: 485px;
  background: url(../images/background/header-decoration.svg) no-repeat center bottom,
  #83B3D333 url(../images/background/header-background.jpg) no-repeat;
}

.hero-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}

.footer-hero{
  min-height: 282px;
  text-align: center;
  padding-top: 63px;
}

.footer-hero h1{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}

.footer-hero p{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages{
  width: 1200px;
}

.advantages-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item{
  width: 400px;
  height: 384px;
  text-align: center;
}

.advantages-content{
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  margin-top: 92px;
}

.advantages-content-more{
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-text{
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-image{
  display: block;
}

.first-item,
.seven-item{
  color: #FFFFFF;
  background-color: #82B3D3;
}

.first-item .advantages-text,
.seven-item .advantages-text{
  color: #FFFFFF;
}

.four-item{
  background-color: #FFFFFF;
}

.three-item,
.five-item,
.eight-item,
.ten-item{
  background-color: #83B3D31F;
}

.nine-item{
  background-color: #83B3D333;
}

.search{
  width: 1200px;
  min-height: 417px;
  text-align: center;
}

.search h2{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 29px;
}

.search p{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 56px;
}

.search-button{
  display: block;
  width: 574px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  border-style: none;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
}

.subscribe{
  height: 411px;
  background-color: #83B3D333;
  background-image: url(/images/background/subscribe-background.jpg);
  background-repeat: no-repeat;
  text-align: center;
  /* border-bottom: 1px solid #E6E6E6; */
}

.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 0 29px;
}

.subscribe-text{
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
}

.subscribe-form{
  display: flex;
  justify-content: center;
}

.subscribe-field{
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  border: none;
  margin: 0;
  padding: 0;
}

.subscribe-field::placeholder{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe-button{
  background-color: #82B3D3;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-footer{
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.footer-container{
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social{
  width: 142px;
}

.footer-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-item a{           /* по хорошему тут указать общий размер для всех иконок социальных сетей,*/
  width: 20px;           /*  но в макете размеры все разные, получатеся для каждй иконки отдельно прописывать? */
}

.button-vk{
  background-image: url(../images/social-item/Vector-VK.svg) no-repeat;
}

.button-facebook{
  background-image: url(../images/social-item/Vector-facebook.svg) no-repeat;
}

.button-youtube{
  background-image: url(../images/social-item/Vector-youtube.svg) no-repeat;
}

.footer-tel{
  width: 720px;
  text-align: center;
}

.number-tel{
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-logo{
  width: 115px;
}



                                       /* каталог */

.main-inner{
  width: 1200px;
  margin: 0 auto;
}

.filter{                       /*  1  секция   */
  width: 1200px;
  height: 403px;
  background-color: #83B3D333;
  background-image: url(../images/background/background-inner.jpg);
  background-repeat: no-repeat;
}

.header-container{
  width: 1060px;
  margin: auto;
}

.filter-header-title{
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.breadcrumbs{
  list-style-type: none;
}

.breadcrumbs-item{
  color: #FFFFFF;
  font-size: 16px;
}

.filter-title{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.filter-infra{
  margin: 0;
  padding: 0;
  border: none;
}

.filter-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control{
  color: #FFFFFF;
}

.filter-type{
  margin: 0;
  padding: 0;
  border: none;
}

.filter-price{
  margin: 0;
  padding: 0;
  border: none;
}

.filter-button-apply{
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.filter-button-reset{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

.catalog{                               /*    2  секция*/
  width: 1200px;
  background-color: #FFFFFF;
}

.sorting{
  width: 1057px;
  margin: 0 auto;
  display: flex;
}

.sorting-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-list{
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-item{
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.select{
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 290px;
  height: 49px;

}

.select option{
  font-size: 18px;    /*  непонятки с размером шрифта, меняю в CSS в браузере ничего не происходит */
  line-height: 21px;
  color: #333333;
}

.catalog-hotel{
  width: 1056px;
  margin: 0 auto;
}

.card-title{
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.card-hotel{
  color: #333333;
  margin: 0;
  padding: 0;
}

.card-price{
  color: #333333;
}

.card-button{
  background-color: #756157;
  color: #FFFFFF;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.card-button-favorites{
  background-color: #82B3D3;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  border-style: none;
  color: #FFFFFF;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.card-rating{
  background-color: #F2F2F2;
  height: 37px;
  width: 140px;
  border-radius: 4px;
  border-style: none;
  color: #333333;
  line-height: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.pagination{
  width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.pagination-list{
  width: 400px;
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item{
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link{
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-first{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-text{
  color: #333333;
}

.pagination-select{
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.subscribe-inner{                             /*  3 секция   Подпишитесь на расылку  */
  min-height: 411px;
  text-align: center;
  background-color: #FFFFFF;
}

.subscribe-title-inner{
  color: #000000;
}

.subscribe-text-inner{
  color: #000000;
}


.visually-hidden{
  background-color: crimson;

}
